@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));
:root {
  --background: hsl(0 0% 0%);
  --foreground: hsl(0 0% 4%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 4%);
  --popover: hsl(0 28% 79%);
  --popover-foreground: hsl(0 0% 0%);
  --primary: hsl(4 61% 48%);
  --primary-foreground: hsl(0 80% 78%);
  --secondary: hsl(0 94% 82%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(0 0% 100%);
  --muted-foreground: hsl(0 0% 45%);
  --accent: hsl(0 0% 96%);
  --accent-foreground: hsl(0 0% 9%);
  --destructive: hsl(357 100% 45%);
  --border: hsl(0 74% 42%);
  --input: hsl(0 74% 42%);
  --ring: hsl(0 74% 42%);
  --chart-1: hsl(18 100% 48%);
  --chart-2: hsl(175 100% 29%);
  --chart-3: hsl(196 72% 23%);
  --chart-4: hsl(44 100% 50%);
  --chart-5: hsl(36 100% 50%);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(0 0% 4%);
  --sidebar-primary: hsl(0 0% 9%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(0 0% 96%);
  --sidebar-accent-foreground: hsl(0 0% 9%);
  --sidebar-border: hsl(0 0% 90%);
  --sidebar-ring: oklch(0.708 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif:
    "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  --font-mono:
    "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25); /* Blue colors */
  --blue-50: #e6edf6;
  --blue-100: #c2d5e9;
  --blue-200: #92b3d7;
  --blue-250: #7086fd80;
  --blue-300: #608fc4;
  --blue-350: #7086fd;
  --blue-400: #306eb3;
  --blue-450: #3b82f6;
  --blue-500: #024ea2;
  --blue-550: #1677ff;
  --blue-600: #02428a;
  --blue-700: #013773;
  --blue-800: #012c5c;
  --blue-900: #012349; /* Yellow colors */
  --yellow-50: #fdf8ec;
  --yellow-100: #f9edd0;
  --yellow-200: #f4dfac;
  --yellow-300: #efd085;
  --yellow-400: #ebc260;
  --yellow-500: #e6b53d;
  --yellow-600: #c49a34;
  --yellow-700: #a3812b;
  --yellow-800: #836723;
  --yellow-900: #67511b; /* Neutral colors */
  --neutral-50: #ffffff;
  --neutral-100: #fcfcfc;
  --neutral-200: #f5f5f5;
  --neutral-300: #f0f0f0;
  --neutral-400: #d9d9d9;
  --neutral-500: #bfbfbf;
  --neutral-600: #8c8c8c;
  --neutral-700: #595959;
  --neutral-800: #454545;
  --neutral-900: #262626;
  --neutral-1000: #1f1f1f; /* Red colors */
  --red-50: #fff1f0;
  --red-100: #ffccc7;
  --red-200: #ffa39e;
  --red-300: #ff7875;
  --red-400: #ff4d4f;
  --red-500: #f5222d;
  --red-600: #cf1322;
  --red-700: #a8071a;
  --red-800: #820014;
  --red-900: #5c0011; /* Warning colors */
  --warning-50: #fffbe6;
  --warning-100: #fff1b8;
  --warning-200: #ffe58f;
  --warning-300: #ffd666;
  --warning-400: #ffc53d;
  --warning-500: #faad14;
  --warning-600: #d48806;
  --warning-700: #ad6800;
  --warning-800: #874d00;
  --warning-900: #613400; /* Green colors */
  --green-50: #f6ffed;
  --green-100: #d9f7be;
  --green-200: #b7eb8f;
  --green-300: #95de64;
  --green-400: #73d13d;
  --green-500: #52c41a;
  --green-600: #389e0d;
  --green-700: #237804;
  --green-800: #135200;
  --green-900: #092b00;
}
.dark {
  --background: hsl(0 0% 4%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(0 0% 9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(0 0% 9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 90%);
  --primary-foreground: hsl(0 0% 9%);
  --secondary: hsl(0 0% 15%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 15%);
  --muted-foreground: hsl(0 0% 63%);
  --accent: hsl(0 0% 15%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(359 100% 70%);
  --border: hsl(0 0% 100% / 0.1);
  --input: hsl(0 0% 100% / 0.15);
  --ring: hsl(0 0% 45%);
  --chart-1: hsl(225 84% 49%);
  --chart-2: hsl(160 100% 37%);
  --chart-3: hsl(36 100% 50%);
  --chart-4: hsl(273 100% 64%);
  --chart-5: hsl(345 100% 56%);
  --sidebar: hsl(0 0% 9%);
  --sidebar-foreground: hsl(0 0% 98%);
  --sidebar-primary: hsl(225 84% 49%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(0 0% 15%);
  --sidebar-accent-foreground: hsl(0 0% 98%);
  --sidebar-border: hsl(0 0% 100% / 0.1);
  --sidebar-ring: hsl(0 0% 45%);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp);
} /* Ẩn thanh scrollbar cho mọi trình duyệt hiện đại */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}
.custom-modal {
  max-width: 1556px;
}
[data-radix-popper-content-wrapper] {
  span > svg:first-of-type {
    fill: white !important;
    background: transparent !important;
    rotate: 0deg !important;
    transform: translateY(3px);
  }
}
.TooltipContent {
  border-radius: 4px;
  padding: 10px 5px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  background-color: white;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  animation-duration: 100ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.TooltipContent[data-state="delayed-open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="left"] {
  animation-name: slideRightAndFade;
}
.TooltipArrow {
  fill: white;
}
.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-6px);
  }
  40% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-shake {
  animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.loader {
  width: 40px;
  aspect-ratio: 1.154;
  --_g: no-repeat radial-gradient(farthest-side, var(--primary) 90%, #0000);
  background:
    var(--_g) 50% 0,
    var(--_g) 0 100%,
    var(--_g) 100% 100%;
  background-size: 35% calc(35% * 1.154);
  animation: l16 1s infinite;
}
@keyframes l16 {
  50%,
  100% {
    background-position:
      100% 100%,
      50% 0,
      0 100%;
  }
}
.font-medium {
  font-weight: 700 !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(0.2) contrast(2);
  cursor: pointer;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1;
  filter: none;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}
.pac-container {
  position: fixed !important;
  z-index: 9999 !important;
  pointer-events: auto !important;
}
.pac-item {
  cursor: pointer !important;
} /* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px !important;
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c2c6;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.dialog-content {
  background-color: white !important;
}
@keyframes thTextHighlight {
  0% {
    color: var(--color-yellow-600);
    text-shadow: 0 0 0 rgba(234, 179, 8, 0);
  }
  50% {
    color: var(--color-yellow-500);
    text-shadow: 0 0 8px rgba(234, 179, 8, 0.5);
  }
  100% {
    color: inherit;
    text-shadow: none;
  }
}
.th-highlight {
  animation: thTextHighlight 1.6s ease-in-out 1;
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
